---
title: senoj.net | Stephen Jones's Website | About 
---
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>

<title>Stephen Jones's Personal External Cache | About</title>

<META name="keywords" content="purebill, senoj, Stephen Jones">

<META name="description" content="About Stephen Jones of purebill.com and senoj.net">

{% include headmeta_regular %}

</head>

<body>
<a name="top"></a>

{% include header_regular %}

{% include onecol_top %}

{% include twocol_left_start %}


<h1 class="title">About Stephen Jones</h1>

<p> In my day job I focus on Billing and related processes especially as it applies to Telecommunications. </p>

<p> My (other) website is <a href="http://www.purebill.com">www.purebill.com</a> where I write on billing and application migration (i.e. the movement of old IT systems to their successors), and have been writing up my <a href="http://www.purebill.com/billing/billing.html">Introductory notes on Billing</a>.</p>

<p>I live and work in Melbourne (Australia), and am the father of <a href="xander.html">Xander</a>.</p>

<p>My mobile is (+61) 403 904 251, and my email is listed at the base of this page. </p> 

<br>

<h1 class="title">Publication</h1> 

<table cellspacing='0'><tr>
<td width=75%>
<p>I contributed one of the 97 items of advice in the <a href="http://oreilly.com/catalog/9780596522698/index.html">O'Reilly</a> book <i><a href="http://www.amazon.com/gp/product/059652269X?ie=UTF8&tag=purebill-20&linkCode=as2&camp=1789&creative=9325&creativeASIN=059652269X">97 Things Every Software Architect Should Know</a></i>. This book was written in an 'open source' style with more than four dozen authors. The 'source' of the <a href="http://97-things.near-time.net/wiki/97-things-every-software-architect-should-know-the-book">axioms / koans / advice</a> can be reviewed on the project's wiki.
</p>
</td>
<td align='center'>
<a href="http://www.amazon.com/gp/product/059652269X?ie=UTF8&tag=purebill-20&linkCode=as2&camp=1789&creative=9325&creativeASIN=059652269X"><img border="0" src="images/059652269X_97things_software_architect.jpg"></a><img src="http://www.assoc-amazon.com/e/ir?t=purebill-20&l=as2&o=1&a=059652269X" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
</td>
</tr></table>

<h1 class="title">Blogroll</h1> 

<p><a href="http://www.heartofceremony.com.au">Kate Wilkins (civil celebrant) based in Melbourne, Australia</a> - www.heartofceremony.com.au</p>

<br />

<h1 class="title">Alternate Logos</h1> 

<p><img src="images/forall_knowledge_learning_curly.png" alt="latex image: sum from t=0 to infinity for all knowledge and learning"/></p>
<p><img src="images/there_exists_knowledge_learning.png" alt="latex image: sum from t=0 to infinity there exists knowledge and learning"/></p>
<p><img src="images/forall_knowledge.png" alt="latex image: sum from t=0 to infinity for all knowledge"/></p>
<p><img src="images/forall_knowledge_curlybrackets.png" alt="latex image: sum from t=0 to infinity for all knowledge in brackets"/></p>

{% include twocol_right_end %}

{% include onecol_bottom %}

{% include footer_regular %}

</body>
</html>
