---
title: senoj.net | Stephen Jones's Personal Website | Clojure Links 
---
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>

<title>Stephen Jones's Personal External Cache | Clojure Links</title>

<META name="keywords" content="clojure, links, Stephen Jones">

<META name="description" content="Links I find handy related to Clojure">

{% include headmeta_regular %}

</head>

<body>
<a name="top"></a>

{% include header_regular %}

{% include onecol_top %}

{% include twocol_left_start %}


<h1 class="title">Clojure Links</h1>

<p> <b>Clojure</b>: <a href="http://www.clojure.org">Clojure Home Base</a> </p>

<p> <b>Clojure IRC channel</b>: irc://irc.freenode.net/clojure </p>

<p> <b>IRC channel log for #clojure</b>: <a href="http://clojure-log.n01se.net/date/">Listed by date</a> </p>

<p> <b>For code fragments</b>: <a href="http://paste.lisp.org/">Lisp pastebin</a> </p>

<p> <b>Presentation on state</b>: <a href="http://www.infoq.com/presentations/Value-Identity-State-Rich-Hickey"> Value / Identity / State</a> by <a href="http://en.wikipedia.org/wiki/Rich_Hickey">Rich Hickey</a> (the creator of the language) </p> 

<h1 class="title">Commands for the #clojure 'clojurebot''</h1> 

<ul>
	<li>~def <i>command</i> - e.g. ~def deftype  => deftype: http://tinyurl.com/yc5kkec </li>
	<li>,(doc <i>command</i>) - e.g. ,(doc comparator) </li>
</ul>

{% include twocol_right_end %}

{% include onecol_bottom %}

{% include footer_regular %}

</body>
</html>
