---
title: senoj.net | Stephen Jones's Notes on Git
---
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>

<title>Stephen Jones's Notes on Git</title>

<META name="keywords" content="purebill, git, gist">

<META name="description" content="Summary of Git Commands for Stephen Jones (of purebill.com)">

{% include headmeta_regular %}

</head>

<body>
<a name="top"></a>

{% include header_regular %}

{% include onecol_top %}

{% include twocol_left_start %}

<h1 class="title">Git Commands</h1>

<p>A list where I can find them when out and about... (until they are committed to memory)</p>

<ul>
<li><i>git remote add [name] [remote location]</i>: Add a brief name for a remote location to reduce the typing</li>
<li><i>git push [name] [branch]</i>: Push to GitHub / remote repository </li>
<li><i>git pull [name] [branch]</i>: Bring down and merge the latest from GitHub / remote repository </li>
<li><i>git branch -r</i>: List the remote branches</li>
<li><i>git checkout [other_branch]</i>: Move to the other branch and create a repository with the status of its HEAD </li>
<li><i>git checkout -b [new_branch] [old_branch]</i>: Create a new branch from one that already exists, checkout and move there</li>
<li><i>git reset --hard HEAD^</i>: Undo the last commit in your current branch</li>
<li><i>git revert HEAD *</i>: Revert the files 'added' so they can be ignored or readded once moved</li>
<li><i>git branch [newname] [existing branch]</i>: Create a separately tracked repository </li>
<li><i>git merge [other_branch]</i>: Include the other branch's details into this branch (often the 'master')</li>
</ul>

{% include twocol_right_end %}

{% include onecol_bottom %}

{% include footer_regular %}

</body>
</html>
