---
title: senoj.net | Stephen Jones's Personal Website | Quotes I Like 
---
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>

<title>Stephen Jones's Personal External Cache | Quotes I Like</title>

<META name="keywords" content="quotes, links, Stephen Jones">

<META name="description" content="Quotes that I enjoy collected in one location">

{% include headmeta_regular %}

</head>

<body>
<a name="top"></a>

{% include header_regular %}

{% include onecol_top %}

{% include twocol_left_start %}


<h1 class="title">Computing Quotes</h1>

<p> <b>On Clarity</b>: "something that is clearer and slower today might be faster tomorrow, but will still be clearer" - <a href="http://clojure-log.n01se.net/date/2009-11-08.html">Rich Hickey on #clojure IRC 08-Nov-2009 @ 8:00am</a></p>

<p> <b>On Design</b>: "A designer knows he has achieved perfection not when there is nothing left to add, but when there is nothing left to take away." - <i>Antoine De Saint-Exupery</i></p>

{% include twocol_right_end %}

{% include onecol_bottom %}

{% include footer_regular %}

</body>
</html>
