---
title: senoj.net | Stephen Jones's Personal Website | Quotes I Like 
---
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>

<title>Stephen Jones's Personal External Cache | Quotes I Like</title>

<META name="keywords" content="quotes, links, Stephen Jones">

<META name="description" content="Quotes that I enjoy collected in one location">

{% include headmeta_regular %}

</head>

<body>
<a name="top"></a>

{% include header_regular %}

{% include onecol_top %}

{% include twocol_left_start %}


<h1 class="title">Computing</h1>

<p>"Production is a 'condition rich' environment..." - <i>Stephen Jones</i></p>

<p>"something that is clearer and slower today might be faster tomorrow, but will still be clearer" - <a href="http://clojure-log.n01se.net/date/2009-11-08.html">Rich Hickey on #clojure IRC 08-Nov-2009 @ 8:00am</a></p>

<p>"A designer knows he has achieved perfection not when there is nothing left to add, but when there is nothing left to take away." - <i>Antoine De Saint-Exupery</i></p>

<h1 class="title">Life</h1>

<p>On learning a language: 'I don't know past tense. I don't know future tense. I live in the present.'' - <i>Rosanne</i></p> 

<p>'After the final no there comes a yes and on that yes the future of the world hangs.' - <a href="http://en.wikipedia.org/wiki/Wallace_Stevens"><i>Wallace Stevens</i></a></p> 

<p>'Happiness isn't happiness without a violin-playing goat" - Julia Roberts in <i>Notting Hill</i></p>

<p>'Any time someone puts a lock on something that belongs to you, and won't give you a key, they're not doing it for your benefit.' - <a href="http://www.craphound.com/"><i>(Cory) Doctorow's First Law</i></a></p>

<h1 class="title">Sci-Fi</h1>

<p><b>Dune</b></p>
<p>'A beginning is the time for taking the most delicate care that the balances are correct.' - <i>The Wisdom of Muad'Dib</i> by the Princess Irulan</p>

<p>'I must not fear. Fear is the mind-killer. Fear is the little-death that brings total obliteration. I will face my fear. I will permit it to pass over me and through me. And when it has gone past I will turn the inner eye to see its path. Where the fear has gone there will be nothing. Only I will remain.' - <i>Bene Gesserit Litany Against Fear</i>.</p>

<p><b>Babylon 5</b></p>
<p>'I am Grey. I stand between the candle and the star. We are Grey. We stand between the darkness and the light.' - <i>Grey Council sacrament</i></p>

<p>'I am a Ranger. We walk in the dark places no others will enter. We stand on the bridge and no-one may pass. We live for the One, we die for the One.' - <i>Marcus to Neroon, (Season 3, Grey 17 is Missing)</i></p>
<p>'This is Ambassador Delenn of the Minbari. Babylon 5 is under our protection. Withdraw, .. or be destroyed.'<br />
'Negative. We have authority here. Do not force us to engage your ship.'<br />
'Why not? Only one human captain has ever survived battle with Minbari fleet. He is behind me. You are in front of me. If you value your lives, be somewhere else.' - <i>Delenn and Captain Drake (Season 3, Severed Dreams)</i></p>

{% include twocol_right_end %}

{% include onecol_bottom %}

{% include footer_regular %}

</body>
</html>
