---
title: senoj.net | Stephen Jones's Links to my Reference Pages
---
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>

<title>Stephen Jones's Reference Pages</title>

<META name="keywords" content="purebill, git, reference">

<META name="description" content="Links to my reference pages on senoj.net by Stephen Jones (of purebill.com)">

{% include headmeta_regular %}

</head>

<body>
<a name="top"></a>

{% include header_regular %}

{% include onecol_top %}

{% include twocol_left_start %}

<h1 class="title">My Reference Pages</h1>

<ul>
<li><a href="gitcore.html">Git Commands</a></li>
</ul>

{% include twocol_right_end %}

{% include onecol_bottom %}

{% include footer_regular %}

</body>
</html>
