/* Style sheet for senoj.net - updated 09 July 2009 */

body    {background    : white;
         color         : black;
         margin        : 4px;
         behavior: url(csshover.htc);
        }

table   {width         : 100%;
         margin        : 0px;
        }

table td
        {padding       : 0;
         border-width  : 0;
         vertical-align: top;
         font-family   : verdana, arial, helvetica, sans-serif;
         margin        : 0px;
        }

h1      {font-size     : 100%}

h2      {font-size     : 95%}

h3      {font-size     : 90%}

h4      {font-size     : 90%}

h5      {font-size     : 90%}

h6      {font-size     : 90%}

td.pblogo
        {background    : rgb(100%,100%,100%);
         color         : black;
         height        : 100px;
         width         : 9%;
         vertical-align: middle;
        }

td.titleurl
        {background    : rgb(100%,100%,100%);
         color         : black;
        }

span.head1
        {font-size     : 250%;
         line-height   : 90%;
         color         : red;
        }

span.head2
        {font-size     : 250%;
         line-height   : 90%;
         color         : black;
        }

span.head4
        {font-size     : 250%;
         line-height   : 90%;
         color         : silver;
        }

span.head3
        {font-size     : 90%;
         line-height   : 20%;
         color         : black;
        }


td.singleline
        {background    : rgb(98%,98%,98%) url(images/grey_image5.jpg) left repeat;
         text-align    : center;
         width         : 100%;
         border-bottom : 1px solid rgb(100%,0%,0%);
        }

td.gaptab
        {background    : rgb(98%,98%,98%) url(images/grey_image5.jpg) left repeat;
         color         : white;
         font-size     : 90%;
         line-height   : 90%;
         text-align    : center;
         padding       : 4px 0.2em;
         width         : 1%;
         border-bottom : 1px solid rgb(100%,0%,0%);
        }


td.topdot, td.main-middot, td.bottomdot
        {background    : rgb(100%,100%,100%);
         color         : white;
         font-size     : 90%;
         line-height   : 90%;
         text-align    : center;
         padding       : 4px 0.2em;
         width         : 1%;
        }

td.heretab
        {background    : rgb(100%,100%,100%) url(images/front_image.jpg) left repeat;
         color         : black;
         font-size     : 90%;
         font-weight   : bold;
         line-height   : 90%;
         text-align    : center;
         padding       : 4px 0.2em;
         width         : 9%;
         border-top    : 1px solid rgb(100%,0%,0%);
         border-right  : 1px solid rgb(100%,0%,0%);
         border-left   : 1px solid rgb(100%,0%,0%);
         border-bottom : 1px solid rgb(100%,100%,100%);
        }

td.othertab
        {background    : rgb(90%,90%,90%) url(images/back_image.jpg) left repeat;
         color         : black;
         font-size     : 90%;
         line-height   : 90%;
         text-align    : center;
         padding       : 4px 0.2em;
         width         : 9%;
         border-top    : 1px solid rgb(100%,0%,0%);
         border-right  : 1px solid rgb(90%,0%,0%);
         border-left   : 1px solid rgb(90%,0%,0%);
         border-bottom : 1px solid rgb(100%,0%,0%);
        }

td.resttab
        {background    : rgb(98%,98%,98%) url(images/grey_image5.jpg) left repeat;
         color         : white;
         font-size     : 90%;
         line-height   : 90%;
         text-align    : right;
         padding       : 4px 0.2em;
         border-bottom : 1px solid rgb(100%,0%,0%);
        }

td.leftspace
        {background    : rgb(98%,98%,98%) url(images/grey_image5.jpg) left repeat;
         color         : white;
         font-size     : 90%;
         line-height   : 90%;
         text-align    : center;
         padding       : 4px 0.2em;
         width         : 2%;
         border-bottom : 1px solid rgb(100%,0%,0%);
        }

td.rightspace
        {background    : rgb(98%,98%,98%) url(images/grey_image5.jpg) left repeat;
         color         : white;
         font-size     : 90%;
         line-height   : 90%;
         text-align    : center;
         padding       : 4px 0.2em;
         border-bottom : 1px solid rgb(100%,0%,0%);
        }

td.gapspace
        {background    : rgb(98%,98%,98%) url(images/grey_image5.jpg) left repeat;
         color         : white;
         font-size     : 90%;
         line-height   : 90%;
         text-align    : center;
         padding       : 4px 0.2em;
         width         : 2%;
         border-bottom : 1px solid rgb(100%,0%,0%);
        }

td.heresubtab, td.heresubtabwide
        {background    : rgb(100%,100%,100%) url(images/front_image.jpg) left repeat;
         color         : black;
         font-size     : 90%;
         font-weight   : bold;
         line-height   : 90%;
         text-align    : center;
         padding       : 4px 0.2em;
         width         : 15%;
         border-top    : 1px solid rgb(100%,0%,0%);
         border-right  : 1px solid rgb(100%,0%,0%);
         border-left   : 1px solid rgb(100%,0%,0%);
         border-bottom : 1px solid rgb(100%,100%,100%);
        }

td.othersubtab, td.othersubtabwide
        {background    : rgb(90%,90%,90%) url(images/back_image.jpg) left repeat;
         color         : black;
         font-size     : 90%;
         line-height   : 90%;
         text-align    : center;
         padding       : 4px 0.2em;
         width         : 15%;
         border-top    : 1px solid rgb(100%,0%,0%);
         border-right  : 1px solid rgb(90%,0%,0%);
         border-left   : 1px solid rgb(90%,0%,0%);
         border-bottom : 1px solid rgb(100%,0%,0%);
        }

td.heresubtabwide, td.othersubtabwide
        {
         width         : 30%;
        }

td.main-left
        {padding       : 1em 0.75em;
         width         : 50%;
         border-left   : 1px solid rgb(90%,0%,0%);
        }

td.main-right
        {padding       : 1em 0.75em;
         width         : 50%;
         border-right  : 1px solid rgb(90%,0%,0%);
        }

td.main-all
        {padding       : 1em 0.75em;
         width         : 100%;
         border-left   : 1px solid rgb(90%,0%,0%);
         border-right  : 1px solid rgb(90%,0%,0%);
        }

td.main-left p, td.main-right p, td.main-all p
        {padding       : 0 0 0 0.5em;
	     font-size     : 90%;
        }

td.othertab:hover, td.othersubtab:hover, td.othersubtabwide:hover 
        {background    : white url(images/front_image.jpg) left repeat;
         border-bottom : 1px solid rgb(100%,100%,100%);
        }


td.othertab:hover a, td.othersubtab:hover a, td.othersubtabwide:hover a

        {text-decoration: none;
         color         : black;
         font-weight   : bold;
        }


ul, dl  {padding       : 0 0 0 1.5em;
        }

p.prevcol
        {padding       : 0 0 0 0;
         font-size     : 90%;
         line-height   : 110%;
         margin        : 0.5em;
        }


li, dt, dd, td.main-left, td.main-right, p.main-half
        {font-size     : 90%;
         line-height   : 120%;
        }

li      {padding       : 0 0 0.5em 0;
        }

ul.small{padding       : 0 0 0 1em;
        }

ul.small li
        {font-size     : 100%;
         line-height   : 120%;
        }

td.main-all, td.main-all li
        {font-size     : 100%;
         line-height   : 120%;
        }

dt      {
         padding       : 0 0 0.5em 0;
        }

h1.title{background    : rgb(95%,95%,95%) url(images/grey_image5.jpg) left repeat;
         color         : black;
         display       : block;
         border-bottom : 1px solid rgb(100%,0%,0%);
        }

h2.title{background    : rgb(95%,95%,95%);
         color         : black;
         display       : block;
         border-bottom : 1px solid rgb(100%,0%,0%);
        }

h2.subtitle
        {color         : black;
         font-weight   : bold;
         padding       : 0 0 0 0.2em;
        }

a.rtt
        {font-size     : 60%;
         line-height   : 90%;
         text-decoration
                       : none;
         padding       : 0 0 0 5em;
        }

td#stdfoot
        {background    : rgb(98%,98%,98%);
         color         : black;
         font-size     : 70%;
         line-height   : 90%;
         text-align    : left;
         padding       : 4px 0.2em;
         border-top    : 1px solid rgb(100%,0%,0%);
        }

td#author
        {background    : rgb(98%,98%,98%);
         color         : black;
         font-size     : 70%;
         line-height   : 90%;
         text-align    : right;
         padding       : 4px 0.2em;
         border-top    : 1px solid rgb(100%,0%,0%);
        }
