---
title: senoj.net | Stephen Jones's Website | Xander Kai Irwin Jones 
---
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>

<title>Stephen Jones's Personal External Cache | Xander Kai Irwin Jones</title>

<META name="keywords" content="xander kai irwin jones">

<META name="description" content="Stephen Jones son - Xander Kai Irwin Jones">

{% include headmeta_regular %}

</head>

<body>
<a name="top"></a>

{% include header_regular %}

{% include onecol_top %}

{% include twocol_left_start %}

<h1 align="center">Xander Kai Irwin Jones</h1>

<h2 align="center">(a.k.a. Xander Jones)</h2>

<p align="center">Born to Catherine Irwin and Stephen Jones<br>
@ Cabrini Hospital, Melbourne, Australia </p>

<p align="center">Arrived: 16 January 2002<br>
Departed: 19 January 2002 </p>

<p align="center">

<a href="images/AA_8881_004A.jpg"> 
<img src="images/AA_8881_004AT3.jpg" hspace="10" vspace="10"> </a>

<a href="images/AA_8881_019A.jpg">
<img src="images/AA_8881_019AT3.jpg" hspace="10" vspace="10"> </a><br>

<a href="images/AA_8885_006.jpg">
<img src="images/AA_8885_006T.jpg" hspace="10" vspace="10"> </a><br>

<a href="images/AA_8881_010A.jpg">
<img src="images/AA_8881_010AT3.jpg" align="texttop" hspace="10" vspace="10"> </a>

<a href="images/AA_8881_011A.jpg">
<img src="images/AA_8881_011AT3.jpg" align="texttop" hspace="10" vspace="10"> </a><br>

</p>

{% include twocol_right_end %}

{% include onecol_bottom %}

{% include footer_regular %}

</body>
</html>
