---
title: senoj.net | Stephen Jones's Website | {{ page.title }}
---
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>

<title>Stephen Jones's Personal External Cache | {{ page.title }}</title>

<META name="keywords" content="Stephen Jones, posts">

<META name="description" content="Stephen Jones notes on things (an External Cache)">

{% include headmeta_regular %}

</head>

<body>
<a name="top"></a>

{% include header_regular %}

{% include onecol_top %}

{% include twocol_left_start %}

{{content}}

{% include twocol_right_end %}

{% include onecol_bottom %}

{% include footer_regular %}

</body>
</html>
