---
trial: dummy data
---
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>

<title>Stephen Jones's Personal External Cache | {{ page.title }}</title>

<META name="keywords" content="Stephen Jones, posts">

<META name="description" content="Stephen Jones notes on things (an External Cache)">

{% include headmeta_post %}

</head>

<body>
<a name="top"></a>

{% include header_post %}

{% include onecol_top %}

{% include twocol_left_start_post %}

<h1 class='title'>{{ page.date | date_to_string }} &raquo; {{ page.title }}</h1>

<div id="post">
{{ content }}
</div>

<p><a href="{{ page.url }}">[permalink]</a></p>

{% include twocol_right_end %}

{% include onecol_bottom %}

{% include footer_regular %}

</body>
</html>
